.b06 {
	padding: 70px 0;
	background: #fff;

	.form-price {
		width: 100%;

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 0.01px;
			text-overflow: '';
			-ms-appearance: none;
			appearance: none!important;

			&.form-control {
				text-align: left;
			}

			&::-ms-expand {
				display: none;
			}

			option {
				background: #fff;
				border-color: #a9a9a9;
			}
		}

		.form-price-group {
			position: relative;
			background: #fafafa;
			margin-bottom: 70px;
			padding: 65px 50px 35px 70px;

			&:before {
				left: 50%;
				bottom: -42px;
				width: 39px;
				height: 21px;
				content: " ";
				margin-left: -20px;
				position: absolute;
				background: url("../img/sprite.png") -120px 0 no-repeat;
			}
		}

		.form-price__title {
			color: #888888;
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 30px;
		}

		.form-price__left {
			float: left;
			width: 320px;
			height: 280px;
			padding-right: 50px;
			border-right: 1px solid #eeeeee;
		}

		.form-price__right {
			width: 660px;
			float: right;
			padding: 0 20px 0 40px;
		}

		.form-base {
			width: 100%;
			font-size: 0;
			line-height: 0;
			text-align: center;
			margin-bottom: 40px;

			ol {
				margin: 0;
				padding: 0;
				list-style: none;
				position: relative;
			}

			li {
				width: 270px;
				display: inline-block;

				select,
				input[type="text"] {
					width: 100%;
					display: block;
					padding: 14px 20px;
					font-size: 16px;
					line-height: 20px;
					color: #aaaaaa;
					text-align: left;
					text-decoration: none;
					background-color: #fff;
					background-image: url("../img/form_sprite.png");
					background-position: 0 -450px;
					border: 1px solid #dddddd;

					@include placeholder(#aaaaaa);

					&:focus,
					&:hover {
						outline: 0;
						border-color: #a9a9a9;
					}
				}

				&#li-3-1 {
					margin: 0 20px;

					input[type="text"] {
						background-position: 0 0;
						padding: 16px 40px 16px 70px;
					}
				}

				&#li-3-2 {
					margin: 0 20px;

					input[type="text"] {
						background-position: 0 -55px;
						padding: 16px 40px 16px 70px;
					}
				}

				&#li-3-3 {
					margin: 0 20px;

					input[type="text"] {
						background-position: 0 -110px;
						padding: 16px 40px 16px 70px;
					}
				}

				&#li-3-4,
				&#li-3-5,
				&#li-3-5,
				&#li-3-7 {
					left: 70px;
					display: block;
					position: absolute;
					text-align: center;
					margin-bottom: 20px;

					select,
					input[type="text"] {
						height: 50px;
					}
				}

				&#li-3-4 {
					top: -390px;


					select {
						background-position: -5px -330px;
					}
				}

				&#li-3-5 {
					top: -320px;

					select {
						background-position: -5px -330px;
					}
				}

				&#li-3-6 {
					top: -250px;
				}

				&#li-3-7 {
					top: -180px;
				}

				&#li-3-8,
				&#li-3-9,
				&#li-3-10,
				&#li-3-11 {
					left: 430px;
					display: block;
					position: absolute;
					text-align: center;
					margin-bottom: 10px;

					select {
						height: 40px;
						font-size: 14px;
						padding-top: 9px;
						padding-bottom: 9px;
						background-position: 0 -380px;
					}
				}

				&#li-3-8 {
					top: -350px;
				}

				&#li-3-9 {
					top: -290px;
				}

				&#li-3-10 {
					top: -230px;
				}

				&#li-3-11 {
					top: -170px;
				}

				&#li-3-12,
				&#li-3-13,
				&#li-3-14,
				&#li-3-15 {
					right: 90px;
					display: block;
					position: absolute;
					text-align: center;
					margin-bottom: 10px;

					input[type=checkbox] {
						display: none;
					}

					label {
						width: 100%;
						display: block;
						color: #aaaaaa;
						font-size: 14px;
						font-weight: 300;
						line-height: 20px;
						text-align: left;
						position: relative;
						text-decoration: none;
						background-color: #fff;
						padding: 9px 55px 9px 20px;
						border: 1px solid $input-border;

						&:before {
							right: 6px;
							top: 5px;
							content: "";
							width: 22px;
							height: 24px;
							position: absolute;
							display: inline-block;
							background: url("../img/form_sprite.png") -22px -420px no-repeat;
						}

						&:hover {
							border-color: $input-border-focus;
						}
					}


					input[type=checkbox]:checked + label:before {
						background-position: 0 -420px;
					}

					&#li-3-12 {
						top: -350px;
					}

					&#li-3-13 {
						top: -290px;
					}

					&#li-3-14 {
						top: -230px;
					}

					&#li-3-15 {
						top: -170px;
					}
				}
			}
		}

		.cf-sb {
			width: 820px;
			margin: 0 auto;
			padding-top: 30px;
			text-align: left;
		}

		.form-price-text {
			right: 140px;
			bottom: 90px;
			position: absolute;
			text-align: right;
			font-size: 16px;
			padding: 11px 0;
			line-height: 30px;

			span {
				width: 120px;
				height: 30px;
				margin: 0 10px;
				color: #fc3339;
				text-align: center;
				display: inline-block;
				text-transform: uppercase;
				background: url("../img/b06_text.png") 0 0 no-repeat;
			}
		}
	}
}