//
// Forms
// --------------------------------------------------


// Common form controls

.form-control {
    text-align: center;
    @include form-control();

    &:focus {
    }

    // Placeholder
    @include placeholder($input-color);
}

.form-dark {
    width: 270px;
    margin: 0 auto;

    .form-title {
        text-align: center;
        margin-bottom: 15px;
    }

    ol {
        width: 100%;
        padding: 0;
        list-style: none;
        margin: 0 0 30px 0;
    }

    li {
        margin-bottom: 10px;

        &:first-child {

            input[type="text"] {
                background-position: 0 -165px;
            }
        }

        &:last-child {

            input[type="text"] {
                background-position: 0 -275px;
            }
        }
    }

    input[type="text"] {
        width: 100%;
        outline: none;
        display: block;
        font-size: 16px;
        line-height: 20px;
        color: #dddddd;
        text-align: left;
        text-decoration: none;
        background-color: transparent;
        padding: 16px 45px 16px 75px;
        background-image: url("../img/form_sprite.png");
        background-position: 0 -220px;
        border: 1px solid transparent;

        &:focus,
        &:hover {
            outline: 0;
            border-color: #1f2c3f;
        }

        // Placeholder
        @include placeholder(#dddddd);
    }

    p {
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        background: $btn-default-bg;

        &:before {
            content: '';
            position: absolute; /* Абсолютное позиционирование */
            left: -46px;
            top: 0;
            border: 26px solid transparent;
            border-right: 20px solid #fc3339;
        }

        &:after {
            content: '';
            position: absolute; /* Абсолютное позиционирование */
            right: -46px;
            top: 0;
            border: 26px solid transparent;
            border-left: 20px solid #fc3339;
        }


        &:hover,
        &:focus,
        &.focus {
            background: $btn-default-bg-hover;

            &:before {
                border-right-color: $btn-default-bg-hover;
            }

            &:after {
                border-left-color: $btn-default-bg-hover;
            }
        }

    }

}

.form-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}


textarea.form-control {
    height: auto;
}



// Form groups

.form-group {
    margin-bottom: $form-group-margin-bottom;
}



fieldset {
      padding: 0;
      margin: 0;
      border: 0;
      min-width: 0;
}

label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
}


input[type="search"] {
      @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
      margin: 4px 0 0;
      margin-top: 1px \9; // IE8-9
      line-height: normal;
}

input[type="file"] {
      display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
      display: block;
      width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
      height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
      @include tab-focus;
}
